[2017-02-16 21:44] nhaberl opened #1 "Possible callbacks"
Would be great to have the Chance of registering callbacks in a fluent manner alter each string is written for example.
Would be great for guided walk throughs on a website.

Considering it making async also with promises.

[2017-02-17 10:59] tameemsafi commented on #1
Thanks for your feedback.

I am currently working on allowing HTML tags inside of the strings, but I will also add callbacks to each of the available methods.

[2017-02-21 13:26] sirodoht opened #5 "Publish package on npm"
https://www.npmjs.com/

[2017-02-22 09:05] diegoddox commented on #5
+1

[2017-02-25 11:44] Kikobeats opened #7 "How to works with inputs?"
I want to suggests query search into a search input. Any idea?

[2017-02-25 13:10] Sigmus commented on #7
The suggestion behavior, how does it work? Can you give some examples?

[2017-05-13 13:23] dakshshah96 opened #8 "Git tags and license for project"
Hey @tameemsafi,

I'd like to host your library, typewriterjs on [cdnjs](https://github.com/cdnjs/cdnjs) — It is one of the most famous free and public web front-end CDN services which is used by [~1,143,000 websites](https://trends.builtwith.com/cdn/CDN-JS) worldwide.

* The git auto-updater for cdnjs relies on [git tags](https://github.com/moappi/json2html/tags) to recognize a release version an

[2017-05-13 13:46] tameemsafi commented on #8
Hello Daksh,

Thank you for your interest in my project.

I have added git tag for version 1.0.0 and also the MIT license.

Kind regards,
Tameem

[2017-05-13 13:48] dakshshah96 commented on #8
Thanks for the quick response @tameemsafi!
Much appreciated 👍

[2017-05-13 13:48] #8 closed

[2017-06-18 11:30] MDSilviu opened #9 "Suggestions"
Thank you for the plugin, it';s a good one, doing the job that others don't.
I got a few suggestions for you.
Consider removing the developer mode and also all the console errors for myself using it means i want the smallest possible file size to add in the project and all those messages even if they are useful if you are not doing something correctly you have a documentation for it and people wil

[2017-06-18 11:57] tameemsafi commented on #9
Hello Manolache,

Thank you for your suggestions.

I will update the code when I get some time.

[2017-07-08 10:59] whenitrainsitpours opened #10 "Integrating with React"
How to use it with React?  Like this site https://wild.as/, thanks!

[2017-12-04 12:06] ShyamSunderSuthar opened #11 "How to print some text on the new line."

[2017-12-20 15:09] david-soyez opened #12 "Need html typing support"
I need html typing support.
Thanks

[2017-12-20 15:32] david-soyez commented on #12
nevermind you'd have to change everything to do that. it's not a quick feature.

[2017-12-20 15:33] david-soyez commented on #11
you could write a method newline().

[2018-01-24 16:45] 12monkeys commented on #11
You could use whatever character you need changing this to make a newline:

	TypewriterPrototype._convertCharsToHTML = function (chars)
	{
		var chars_html_wrap_array = [];
		var char_class_name = this.options.charSpanClassName;
		var chars_array = chars[0];
		for (var i = 0, length = chars_array.length; i < length; i++)
		{
			var char_element = document.createElement('span');
			var char_id = th

[2018-03-06 04:50] tkroll commented on #10
Just do:
`import '/your-path/typewriter.min.js'`

Add a span:
`<span id="typed"></span>`

then:

[code]

[2018-03-19 21:12] yuehkchou opened #13 "Turn off blinking cursor at the end"
Hi, I am currently using the Typewriterjs for animated header.
I was wondering if there is a way to remove or in the least pause the blinking cursor once it finishes playing. Tried using the changeSetting method but that doesn't seem to work either.

Am I doing something wrong?
[code]
Thank you in advance

[2018-03-20 09:32] coltman21 commented on #13
+1
I just arrived to the same issue. A fix would be nice :)

[2018-03-20 21:36] tameemsafi commented on #13
I will look into this issue, however, I am in the process of releasing a new version which is created with typescript.

[2018-03-21 15:35] schmolzp commented on #1
Are you still planning on adding callback methods? This would be really useful to have some control after typing has finished. Thanks!

[2018-03-28 20:02] Sephirothusa opened #14 "I'm getting an error!"
Uncaught ReferenceError: Typewriter is not defined
    at typewriter.js:11

Not sure whats going on here, could you pls help me? Thank you

[2018-05-13 09:56] lifenautjoe opened #15 "Website down!"
Hi @tameemsafi , don't know if you noticed but your demo site is currently down.

[2018-05-13 10:53] tameemsafi commented on #15
Thanks for letting me know, It should be working fine now.

[2018-05-13 10:53] #15 closed

[2018-08-18 22:17] bhaskar-nair2 commented on #1
@tameemsafi Would make this script extremly useful if we have callback functions.

[2018-08-27 00:48] #12 closed

[2018-08-27 00:49] tameemsafi commented on #10
You can now import the component in react. Please see [npm repo](https://www.npmjs.com/package/typewriter-effect).

[2018-08-27 00:49] #10 closed

[2018-08-27 00:50] tameemsafi commented on #5
Package is now published on npm.

https://www.npmjs.com/package/typewriter-effect

[2018-08-27 00:50] #5 closed

[2018-08-27 00:51] tameemsafi commented on #1
I have added callback function now, which can be chained after each method.

You can do the following:

[code]

[2018-08-27 00:51] #1 closed

[2018-08-27 00:52] tameemsafi commented on #9
I have updated it now to use css keyframes for blinking in v2.

[2018-08-27 00:52] #9 closed

[2018-08-27 00:53] #14 closed

[2018-08-27 13:58] antoniojps commented on #1
@tameemsafi Well done, great update!  🎉

[2018-09-10 20:42] Dylan-at-LION opened #18 "Please update the documentation"
Hi there, nice tool you have made here. I found that the option that is referred to as `typingSpeed` on your [website](https://safi.me.uk/typewriterjs/) is actually called `delay` in the code itself. Since you still seem to be updating this I thought you might want to keep the documentation current.

[2018-09-10 21:44] tameemsafi commented on #18
@Dylan-at-LION Thanks for letting me know, I updated the documentation website now.

[2018-09-10 21:44] #18 closed

[2018-09-15 23:28] tameemsafi commented on #7
Please provide more details on how you would like this featured to work. Closing for now.

[2018-09-15 23:28] #7 closed

[2018-09-18 11:41] Tim567 opened #19 "deleteAll speed"
is there a way that we can control the speed of deleteAll()

[2018-09-19 15:36] qbattersby commented on #19
Also curious about being able to deleteAll() much quicker.

[2018-10-05 00:55] lflescano opened #20 "Typing velocity"
Hi i want to know how to change the typing velocity, no the deletion one

[2018-10-05 06:36] tameemsafi commented on #20
You can use the ‘changeDelay’ function to change the delay when writing
each character. This is also the same as the typing speed.

On Fri, 5 Oct 2018 at 01:55, lflescano <notifications@github.com> wrote:

[2018-10-10 11:06] StefanPM commented on #20
Ah I see, my settings were set up messy. Setting it lower works great, thanks!

[2018-10-16 09:06] rolfoldenkotte opened #21 "Cannot use strong characters within 1 string."
Hello people from typewriterjs, I'm working on a project in which I have a string like: "<strong>Hello?! Hello! Can you hear me?</strong> If you can read this message, please hit next in the lower right to let me know if I am not just talking to myself!"

The message will stop typing after the strong lines are done. If i put strong lines like in the middle it will just stop working at all. Do you

[2018-11-17 23:08] realgs commented on #13
Any news here?

[2018-11-17 23:10] #20 closed

[2018-11-17 23:10] tameemsafi commented on #13
@realgs I will add this feature very soon

[2018-11-17 23:15] realgs commented on #13
Thanks for a quick response! If only I was be able to make the changeSettings() function work it'd be easy to achieve the result just by replacing our cursor to cursor: ''. Do you have changeSettings() function? I can't see it in your project's description.

[2018-11-17 23:18] tameemsafi commented on #13
@realgs No unfortunately, I do not have the `changeSettings` function in the current release. But I can see what you mean and maybe the two features can be added together.

[2018-11-20 16:05] dtslvr opened #22 "deleteAll not working in Internet Explorer"
I have found an issue with deleteAll in _Internet Explorer 11_. When I apply `deleteAll()`, it's just ignored and the next string is just appended. In the developer tools, there is an error like `Object doesn't support property or method 'remove'`.
I could even reproduce it in this example: https://jsfiddle.net/mv612vrf/1702

Do you have an idea how to solve it?

[2018-11-20 17:04] realgs commented on #22
It is because .remove() function is not supported by IE.
You can use jquery or augmenting native DOM functions instead.
@tameemsafi I can take a look at this issue if you want me to.

[2018-11-20 17:06] tameemsafi commented on #22
@realgs that would be great if you can do that and make a pull request

[2018-11-20 17:08] dtslvr commented on #22
Yes, that's it. I could fix it in my project by adding the [dom4 polyfill](https://github.com/WebReflection/dom4).

[2018-11-20 17:12] tameemsafi commented on #22
You can also import from corejs library.
https://github.com/zloirock/core-js/blob/master/README.md

[2018-11-20 17:14] dtslvr opened #23 "<br/> not working in Internet Explorer"
The example from https://jsfiddle.net/shbqy0mv/9/ is not working correctly in Internet Explorer 11.

[code]

`<br/>` tags get lost and all strings are displayed in one line :/ Unfortunately I don't see an error message in the developer tools.

Do you have an idea how to solve it?

[2018-11-20 22:00] realgs commented on #22
I wanted to test my solution before PR, how do you run your project? There are no instructions in readme.md. Which local server do you use?

I tried building the project with yarn run build:dev and then running live-server on chained-example but  there's a 404 error on dist/core.js file. From google I can suppose it might be related to Grunt. If I manually copy the dist/core.js file to examples/ch

[2018-11-20 22:31] tameemsafi commented on #23
The issue has now been fixed in `v2.5.0`. Let me know if it is working for you.

[2018-11-20 22:31] #23 closed

[2018-11-20 22:32] tameemsafi commented on #22
You need to use some sort of server. I would recommend `http-server` on npm and then run that command on the main repo directory locally. That way you will have access to `localhost:8080/examples` folder.

Also I fixed the issue now in `v2.5.0`. I just imported a polyfill for `node.remove`.

[2018-11-20 22:32] #22 closed

[2018-11-20 22:33] tameemsafi commented on #21
@rolfoldenkotte Could you try it with `v2.5.0` and let me know if the issue is still there?

[2018-11-21 07:17] dtslvr commented on #23
Great, thank you very much for your quick update! It works fine.

[2018-11-25 14:45] Valkween opened #26 "Pause time between texts increments on every loop"
Tested using Chrome v70.0.3538.102 (64 bits) and Microsoft Edge v42.17134.1.0

Hi!
Testing the plugin today i discovered what it seems to be a bug. On every cycle the pause time between texts increments like 500ms more...

[2018-11-27 19:20] CoderSquirrel commented on #26
I'm facing the same issue, even i looked for the code and nothign seems to change

[2018-11-27 21:32] tameemsafi commented on #26
@CoderSquirrel I will check it now, so the problem is that the pause time between writing each characters keeps increasing? Is there a maximum it reaches?

At the moment the time between each character is random, so there is a variation, but it should not be increasing infinitely.

[2018-11-28 18:30] CoderSquirrel commented on #26
hi @tameemsafi  i notice that the diference starts to became visible after, 3rd, 4th cyrcle.

I used the custom `delay` but it seems to became strange on mobiles

the site i'm current using is www.jmjsistemas.com.br/new the 1st screen has it

[2018-12-01 15:38] callycab opened #27 "deleteChars increments on every loop"
Hi,

I have a problem close to the last issue openned on the project:

I am using the function deleteChars(4), but it appears that the number of chars deleted is increasing on every cycle of the loop.
The first time, I have well 4 chars removed. The second time (second loop execution), 8 chars are removed (2x4). The third time, 12 are removed (3x4), ...

Any idea about that ?

Thanks !

[2018-12-02 21:53] tameemsafi commented on #26
@CoderSquirrel I think issue should now be fixed in latest version (2.5.1).

[2018-12-02 21:53] #26 closed

[2018-12-02 22:00] tameemsafi commented on #13
@realgs @yuehkchou You can use the `callFunction` method in order to adjust the styling of the cursor when animation is complete. The first parameter will be an object containing all the elements.

Example: https://jsfiddle.net/8qeujc4s/5/

[2018-12-02 22:00] #13 closed

[2018-12-03 17:55] callycab commented on #27
Not working for me in version 2.5.1.

[2018-12-03 17:59] tameemsafi commented on #27
@callycab Could you try now with v2.5.2?

[2018-12-12 15:49] apoklyak opened #28 "There is no speed setting"
There is no speed adjustment of words typing.

[2018-12-12 20:38] tameemsafi commented on #28
@apoklyak You can use the `changeDelay` function to change typing speed of each character.

[2018-12-13 09:20] apoklyak commented on #28
@tameemsafi how can I set the speed faster?

[2018-12-13 09:36] realgs commented on #28
Read the readme file at https://github.com/tameemsafi/typewriterjs
and set the delay using changeDelay() function to a desirable value. You can use this function attaching it after "." in the chain of your instructions for the TypeWriter component. The lower the delay the faster the animation will be.

[2018-12-21 21:03] danielesavasta commented on #28
I've had same issue wıth changeDelay() and changeDeleteSpeed() as soon as I add them to the chain it just stop working. What am I doing wrong?
eg
typewriter.deleteAll()
            .pauseFor(1000)
            .typeString('<a onclick="changeScr(3);"><strong>Welcome</strong></a>')
            .typeString(' to ')
            .typeString('<a onclick="changeScr(1);"><strong>Hello World</strong></a>')

[2018-12-22 04:17] calebarchie opened #29 "onMouseOver Effect"
Hi guys,

Firstly like to say thanks for this awesome script. I am a total programming noobie but I am trying to achieve a certain effect with the typewriter where you hover over an element and will write something out.

I have got it working for the most part where it will make a new instance using the js mouseenter event but its susceptible  to glitching and spazzing out when it is spammed. It w

[2018-12-22 15:35] tameemsafi commented on #28
@danielesavasta Please make sure you are using the latest version.

You can use it from cdn inside of a file with this link:
`https://unpkg.com/typewriter-effect@latest/dist/core.js`

[2018-12-22 15:36] #28 closed

[2018-12-22 15:50] tameemsafi commented on #29
@calebarchie Please see the fiddle with link below. You will need to create a variable to store the typewriter instance. That way when mouse enters, you can create the instance and assign the it to the variable. Then once mouse leaves, you can stop the typewriter animation and clear the variable and contents.

https://jsfiddle.net/yp32rosa/

[2018-12-22 15:50] #29 closed

[2018-12-23 08:59] tameemsafi commented on #29
@calebarchie Please look at the fiddle link below and let me know if that helps you.

https://jsfiddle.net/cxvugsry/

[2018-12-23 09:18] calebarchie commented on #29
Thanks! I think that is something I can work with, this is as far as I got with the other code:
https://www.dropbox.com/s/jv0n2oyevxigqxw/the-container-lab.zip?dl=0

I'll have a fiddle with the new one and let you know how I go.

[2018-12-23 10:00] calebarchie commented on #29
OK I got it working however something with the fiddle I noticed the originalTypewriter won't actually loop in the fiddle despite being set to loop?

It would be good to combine the one I posted and the fiddle eg; rather than just hide/show those two typewriters, fire originalTypewriter from first string on mouseout instead.  I really do need to learn JS properly at some point.

Thanks again!

[2018-12-23 10:02] tameemsafi commented on #29
@calebarchie np, good to hear.

[2018-12-23 12:40] calebarchie commented on #29
OK I must be going mad as I seem to be going in circles. The pause() does not seem to work for me? Only works if I change it to a stop() which is not really what I'm after.

Could this be because, for some reason I am using the first version of the script?

[2019-01-01 13:23] jesperlandberg opened #30 "Clear method?"
Is there any way to clear/reset the typewriter to its initial state? I want to be able to interupt it an restart if from the beginning. Possible?

[2019-01-07 09:17] sebastianjung commented on #22
For me the problem (or some other?) still exists. When using .deleteChars(x) IE11 gives me the following error:
"Uncaught Type: Cannot Read Property RemoveChild of Null"

This problem does not exist in version 2.5.0 but does in 2.5.1 and 2.5.2. Hope this helps.

[2019-01-07 09:34] sebastianjung commented on #22
I am also facing the problem, that too many characters are deleted when using .deleteChars(). See here dev.pds.ultrabold.de

[2019-01-10 12:17] danielhaim1 commented on #22
I also tested `deleteChars(#)` as well as adding `DOM4` to polyfill. Unfortunately neither methods worked for me and the bug still occurs for IE11.

[2019-01-23 23:44] tameemsafi commented on #30
At the moment no but you can use a callback method and delete the element from the DOM and reinitialise the typewriter.

Example: https://jsfiddle.net/8arobk2c/2/

[2019-01-23 23:44] #30 closed

[2019-02-07 20:19] othy54 opened #32 "jQuery"
Hi !

Unfortunatly it doesn't work with jQuery :/
In the console log it give me this error :

core.js:1 Uncaught TypeError: r.state.elements.container.appendChild is not a function
    at t.setupWrapperElement (core.js:1)
    at t.value (core.js:1)
    at new t (core.js:1)
    at magie.html:57

[2019-02-27 20:25] nocttuam commented on #27
Hi,

I have the same problem in version 2.5.2.

The issue happens in [documentation example](https://safi.me.uk/typewriterjs/#JSFEMB_17954). The second loop remove more chars than the first.

[2019-03-06 17:42] marsjaninzmarsa opened #33 "Preserve original markup"
typewriterjs is blazing fast, but for hero header I want to start with some text in my node already and instantly trigger delete animation via `.deleteAll()`. Tried this, but it won't work as expected (cleaned markup on init):
[code]

Ideally it should be configurable via init params (even more ideally with pause interval between `strings`) as `startFromDelete` or so. Like starting with some text

[2019-03-07 12:30] AndyLIUMel commented on #33
Hi, it is not feasible to display some text instantly as the fps is locked at 60, which means max type speed is 1/60s per char.
A hacking way to do what you want is hiding the text first and then show when deleting.
like this

https://jsfiddle.net/rhybL7t4/

hope it helps

[2019-03-15 15:04] qroft commented on #11
Maybe i am wrong, but when i open that jsFiddle above, there are absolutely NO new lines in the result animation.

[2019-03-15 15:38] qroft commented on #14
I am having the same problem, but with me it is a bit more complicated.
I want to use your typewriter script inside a mobile app done with Framework7 and phonegap.
as soon as i add the "import Typewriter from 't-writer.js';" line into my code, nothing works.
It seems to be a hurlde by importing modules into a mobile app, i am not sure.

Is there a walkaround for this, to define "Typewriter" somewh

[2019-03-15 15:42] pierrebonny opened #34 "Issues in IE11"
Your project is still having issues on Internet explorer 11,
"Unable to get property 'removeChild' of undefined or null reference"
I've tested one of you're examples and it's also not working on IE11 (chatbot example)

[2019-03-15 22:00] AndyLIUMel commented on #34
Hi, I have tested on my win 10 IE11, it is working, did you update to the lastest version?

[2019-03-15 22:23] AndyLIUMel commented on #14
Hi qroft, seems you need to tranlate it to es5 and use require to included the code, as your env does not support es6.

[2019-03-15 22:26] AndyLIUMel commented on #11
Try it in Chrome

[2019-03-16 15:42] tameemsafi commented on #32
Could you post the code you used? With jQuery you have to make sure you pass the element not the jQuery object.

Example:
[code]

[2019-03-16 16:34] tameemsafi commented on #34
There was a small issue in IE11 which was not removing nodes. I have fixed this now in v2.5.3.

[2019-03-16 16:34] #34 closed

[2019-03-16 16:34] #32 closed

[2019-03-16 17:05] pierrebonny commented on #34
thanks I'll test it soon

[2019-03-18 07:15] pierrebonny commented on #34
Perfect it's working like a charm ! thanks

[2019-04-28 00:01] hrghauri opened #35 "Time between the loops keep increasing."
I am trying to write a string followed by erasing it and than writing it again in a loop. However, I have noticed the time delay between each individual loops keep increasing. The first loop takes almost no seconds. The second loops takes a bit longer, the third takes even more longer and so on... Here is the code:

[code]

I have managed to work around this by exploiting the callback feature. Her

[2019-05-28 20:24] amxmln opened #37 "[Feature Request] Add Support for Flushing Queue"
Hi, thanks for this plugin!

I’m currently using it in a project of mine where the strings to be typed can change before the animation has finished. The way this plugin works now, it finishes the original string, then executes the scheduled "deleteAll" and then types the new string. It would be great if you could add a method to "flush" all changes out of the queue, allowing the "deleteAll" to be

[2019-06-11 03:38] helloye opened #38 "[Feature Request] CHANGE_CURSOR event request."
Hihi,

There was a closed issue that somewhat relates to this: https://github.com/tameemsafi/typewriterjs/issues/13

The `callFunction((state) => ....)` solution that was suggested in the above issue does not seem to work for me. Below is the snippet/context of the code that I'm using it in:

[code]

On that note, just wondering if you would be open to adding a `CHANGE_CURSOR` event? Willing to lo

[2019-06-14 07:57] sProDev opened #39 "If typewritter.stopped()"
is there a function if the typewriter has ended or stopped?

[2019-06-16 09:57] tameemsafi commented on #38
You will need to set the display property on the style object to `none`.

See example below:

[code]

You can make a PR for the `CHANGE_CURSOR` and I would be happy to take a look at it.

[2019-06-16 10:07] tameemsafi commented on #21
I think it is working fine so will close this issue.

Example: https://jsfiddle.net/n2vj50s9/

[2019-06-16 10:07] #21 closed

[2019-06-18 20:52] tameemsafi commented on #39
You can use the `callFunction` method at the end of your chain just before `start`.

Example:

[code]

[2019-06-18 20:53] #39 closed

[2019-06-18 22:42] helloye commented on #38
Cool thanks. Raised PR for this: https://github.com/tameemsafi/typewriterjs/pull/40
Let me know if this is ok.

[2019-06-19 16:55] #38 closed

[2019-06-21 07:42] sProDev opened #41 "speed up typewriter?"
how to set up fast animation typing?

[2019-06-23 12:48] magicmb opened #42 "Using icons e.g. fontawesome"
We're able to use **fontawesome** icons in TypewriterJS, which is absolutely fab, however any text after the icon is not displayed for some reason

e.g.

`.typeString('We think TypewriterJS is just fab and <i class="far fa-heart"></i> all the features and options')`

will render

and omit "**all the features and options**"

​
PS using CDN: unpkg.com/typewriter-effect/dist/core.js

[2019-06-27 09:49] ThomasKeast opened #43 "[Feature Request] Text instantly appear"
Hey there,

Currently messing around and loving this package right now.

I was just working on something small and I wanted to make text appear instantly using the typewriter library. Splitting the typewriter call with jQuery hasn't worked either.

Would love it if there was a .StringShow() or .AppearString() just instantly display the string rather than type it out.

Hope this isn't too much to a

[2019-06-27 12:34] romain-granai opened #44 "HTML tag showing"
Hi,

I've just copy/past the basic example in codepen, and it's actually displaying <strong> tags as string and not interpreting them as tag. What's the issue?

https://codepen.io/romaingranai/pen/XLzpZp?editors=1010

Thank you

[2019-06-28 23:16] tameemsafi commented on #44
Please try the new version `2.7.0` which should fix this issue.

[2019-06-28 23:16] #44 closed

[2019-07-04 19:26] tameemsafi commented on #42
It is fixed now with the latest version.

Exampe:
https://jsfiddle.net/rx6pg9ky/

[2019-07-04 19:26] #42 closed

[2019-07-04 19:27] tameemsafi commented on #41
You can change the `delay` option and make it a small number

[2019-07-04 19:27] #41 closed

[2019-07-04 19:32] tameemsafi commented on #35
It should be fixed now, below is an example which will log the time it takes to finish the loop. It my differ slightly but it will be generally the same for every loop.

Example:
https://jsfiddle.net/v5uzLrpb/

[2019-07-04 19:32] #35 closed

[2019-07-04 19:32] #33 closed

[2019-07-04 19:34] tameemsafi commented on #43
Could you provide a more detailed example? The main point of this package is to have the animation instead of displaying text instantly.

[2019-07-04 19:34] #43 closed

[2019-07-04 19:36] tameemsafi commented on #37
You are able to chain the `deleteAll` function anywhere and it will be called once it reaches that stage.

Example:
https://jsfiddle.net/2dwL47bu/

[2019-07-04 19:36] #37 closed

[2019-07-04 20:40] amxmln commented on #37
Thanks for your reply, I am aware of that, the point is that it has to reach that point, i.e. the string has to be fully typed out and there's no way to cancel that and directly skip to the next step.

I was asking for a feature to clear the current event queue and start a new one, so I don’t think this issue is resolved.

[2019-07-04 21:02] tameemsafi commented on #37
Thank you for your reply. You are correct regarding the queue system. However, there must be a point in the queue for it to call some kind of method to flush the queue. So it would not be possible to include the function you are requesting. This would essentially mean doing a check after processing each item in the queue in order to flush the queue at the correct point, which I think is incorrect

[2019-07-04 21:22] amxmln commented on #37
I only glanced over the source code, so I could be wrong here, but wouldn’t a method on the typewriter instance itself suffice? Say there’s a method `flush()` that stops the typewriter and flushes the queue when called externally (so not as part of a chain) and then the queue can be filled again like usual? The state the instance was in could be kept as the initial state for the new queue, i.e. if

[2019-07-05 17:42] tameemsafi commented on #37
No problem, I think re-creating the whole instance would be better than flushing the queue as this would only be required in very specific circumstances. You have full control over the object that is created, so you can choose when to re-create it. I hope that works for you, but would be happy to re-consider if it becomes a problem for other users of the plugin.

[2019-07-05 22:07] amxmln commented on #37
Yes, I think you have a valid point there. Thanks for your help and suggestions and being open about reconsidering should it come up again! :+1:

[2019-07-15 21:09] MrSimsek opened #45 "'./node_modules/React/react'."
Hi, first of all, thank you for this component. It is very easy to use.

My issue is after I updated my dependencies to their latest releases, I can't start the development server. The error is as follows;

Failed to compile.
./node_modules/typewriter-effect/dist/react.js
Cannot find file: 'index.js' does not match the corresponding name on disk: './node_modules/React/react'.

I researched a bit a

[2019-07-26 14:03] thomasjonas commented on #45
Same problem here when using this package with Create React App 3.0.1. It started working for me when I used 2.7.1.

[2019-07-26 14:57] haggen commented on #35
@tameemsafi It seems to be happening again, even on the example you provided. With each loop the time between loops increase a bit.

[2019-07-26 17:36] tameemsafi commented on #35
@haggen I have taken a look and I don't see the problem in the example above. Yes it does increase/decrease slightly but that is expected due to using `window.requestAnimationFrame`. However, it does not exponentially increase so there does not seem to be any issues. If you are experiencing an issue then please provide a way for me to reproduce the error so that I can fix it.

![image](https://use

[2019-07-26 17:41] tameemsafi commented on #45
@thomasjonas  @MrSimsek I have published a new version `2.9.0` please let me know if that fixes the issue for you.

[2019-07-26 18:24] haggen commented on #35
Click (tested on Chrome 75) and open your console. https://h9ht9.csb.app/

To see the source: https://codesandbox.io/s/typewriter-effect-loop-delay-bug-h9ht9

[2019-07-26 19:25] tameemsafi commented on #35
@haggen Thank you but it seems you are using the `console.time` function incorrectly. You need to run the `console.time("typewriter loop")` when it starts and then run `console.timeEnd("typewriter loop")` when it has completed. Please can you try that? It seems to work fine for me.

[2019-07-26 19:31] haggen commented on #35
@tameemsafi Thank you for your quick response! :)

I'm not using it incorrectly. I'm using to measure exactly what I want to measure, which is the time *between* loops--opposed to time the whole procedure. That's what increases with each loop.

Just look at the result and you'll notice it rather easily. It:

1. Clears, writes Banana and pauses for 1 second
2. Clears, writes Apple and pauses for 1

[2019-07-26 20:35] tameemsafi commented on #35
@haggen I have now published `v2.10.0` please let me know if you are still seeing the issue.

[2019-07-26 20:58] haggen commented on #35
That was fast, @tameemsafi :smile: Thank you! It looks fixed now!

[2019-07-27 21:51] #45 closed

[2019-08-31 14:56] Shaker-Hamdi opened #46 "This package breaks a "Next.js" application"
So, here's the situation ...

While the application is running in development mode and installing this package via another terminal window, it works great, exactly like you want it.

However, once you stop the server and try to `"npm run dev"` once again, it breaks the app, and it gives this error ...

![image](https://user-images.githubusercontent.com/3071511/64065627-0fe94680-cc10-11e9-84c6-b2c9

[2019-09-03 19:36] jlnewnam commented on #11
I'm using this in chrome. There are no line breaks. The <br> are being literally typed out. Has this issue been solved?

[2019-09-03 19:41] tameemsafi commented on #46
@Shaker-Hamdi This error is usually because it is running the code in node which does not have access to the window object. Could you let me know how you have setup you app? which webpack plugins are you using?

[2019-09-04 18:25] Shaker-Hamdi commented on #46
@tameemsafi I initialized the project using the default webpack for next.js app by running "npx create-next-app". I didn't modify anything in the webpack configuration, you can give it a try and use the package while running the project and then kill the server and start the project again, then it'll give you the same error.

I ended up using this package which was working fine with my project ...

[2019-09-17 06:50] roma-glushko opened #47 "[Issue] Emoji are rendered like an unknown char symbol for a second"
**Description**
I have tried to add emoji to labels that I want to type via Typewriterjs and they are rendered in a weird way. Here is my component init:

[code]

[code]

**Expected Result**
Emoji is rendered right away without showing unknown char symbol like letters.

**Actual Result**
Emoji is rendered in a way when the unknown char symbol is shown firstly and then the actual emoji is rendered.

[2019-09-17 13:25] roma-glushko commented on #46
@tameemsafi @Shaker-Hamdi the same issue comes when I require typewriterjs to the default gatsby starter project:
https://github.com/roma-glushko/roma-glushko.github.io

Output during `gatsby build` command:
<img width="1351" alt="2019-09-17_16-24-40" src="https://user-images.githubusercontent.com/9402690/65045553-b00cd280-d967-11e9-88a5-d0f3f8905195.png">

Any ideas on how to fix this issue?

[2019-09-17 18:21] Shaker-Hamdi commented on #46
@roma-glushko Just use the package I referenced in my first comment, or this one, which is pretty cool as well ...
https://www.npmjs.com/package/react-typed

[2019-09-17 19:12] tameemsafi commented on #46
@Shaker-Hamdi @roma-glushko I have fixed this issue now. This is related to webpack 4 issue, which has now been fixed in webpack 5 (https://github.com/webpack/webpack/pull/8625).

[2019-09-17 19:12] #46 closed

[2019-09-17 19:42] tameemsafi commented on #47
@roma-glushko Emoji's work differently to strings so it won't be possible to support them in the typewriter js plugin. This is because it would dramatically increase the file size of the bundle.

However, I have now added an option `stringSplitter` to allow you to define your own custom string splitter which can support emojis. I would recommend using `grapheme-splitter` npm package.

Example:

[c

[2019-09-17 19:43] #47 closed

[2019-09-17 20:02] tameemsafi commented on #47
Live example: https://codesandbox.io/s/typewriter-effect-emojis-pgz6e

[2019-10-23 04:46] Airo1011 opened #48 "Tags will not diplay"
I tried adding the <br> tag and it didn't work, then I tried using the strong tag and that failed. I am unsure whether its my fault or it's the code which is facing errors.

Example:
.typeString('and <br>this is my Portfolio')

[2019-10-31 15:23] Forz70043 commented on #48
can you post all code ?

[2019-11-01 09:06] Airo1011 commented on #48
[code]

[2019-11-05 20:24] cirquit opened #49 "Static text infront of the typeString"
Is it possible to have a static text variable which will not be deleted? I couldn't find any examples and simply prepending a `<span> my static text </span>` results in a typing animation which starts from the right-to-left instead of the usual left-to-right.

See this example - https://www.tmeyer.info

[2019-11-18 08:21] cirquit commented on #49
I'd be open to implement it myself and open a pull request if you can point me to the right direction - if this is also something you might want to provide as an additional feature.

[2019-11-22 23:09] jesussuarz commented on #48
Hi, I had a good time trying to look because it didn't work for me either.

you must first place the library and then the javascript code.

you must also do it under the library of jquery.

[2019-11-23 06:40] Airo1011 commented on #48
<script src="js/core.js"></script>
<script src="js/script.js"></script>

Is this what you are talking about? Core.js is the Typewrite Library, Script.js is where I place the Javascript above.

[2019-11-30 12:20] tameemsafi commented on #48
@Airo1011 I have taken a look and the code you posted above works file. Can you try use the latest version of the package?

JSFiddle of the code you posted above
https://jsfiddle.net/0edm5nL1/

[2019-12-24 04:09] EliasTouil opened #52 "Add option deleteSpeed to documentation"
Thanks a lot for this plugin

I was looking to add delete speed functionality and realized it was already in the code, just not mentioned in the docs.

Cheers

[2020-01-02 23:19] ManonJK opened #53 "changeDelay doesn't work"
When I use the changeDelay option to modify the speed of the typing effect, nothing appends, whatever the value is

[2020-01-12 18:17] ismaeelakram opened #54 "Have it on the same line"
I want to have it on the same line as other text like this:
[code]

[2020-01-13 16:00] adambctld commented on #54
You can just add a style to achieve this as shown below.

[code]

[2020-01-13 16:04] adambctld commented on #53
I think I had to use the `delay` option in order for that to work correctly.

[2020-01-19 04:06] ismaeelakram commented on #54
Thanks

[2020-01-19 04:06] #54 closed

[2020-02-04 09:41] jesperhodge opened #55 "Add all missing options to readme"
Thanks for this library, I really like it.

Could you document the missing options, like `stringSplitter` and whatever else is missing in the documentation for your API? That would be awesome.

[2020-02-07 22:47] mikepeiman commented on #53
Same for me with both changeDelay and changeDeleteSpeed, neither is working for me, while the rest of the plugin works fine

[2020-02-14 07:50] bigteejay opened #56 "setting innerHTML "breaks" chain?"
I saw you [response](https://github.com/tameemsafi/typewriterjs/issues/30#issuecomment-457010711) to this other similar issue.

Following the advice there, [I set the innerHTML to an empty string](https://jsfiddle.net/dz97w0fy/), but no matter what I do, the chain seems to break.  Am I doing something wrong?

[2020-02-14 07:53] bigteejay commented on #56
[This](https://jsfiddle.net/t51fngkp/) seems hacky, but "works".

Is there a better/easier way that I've missed?

[2020-02-14 08:18] bigteejay commented on #56
Note:  this applies to 2.3.1 (as in examples) and 2.12.2/"latest"

[2020-02-19 01:42] carljustineoyales opened #57 "string option does not work when array is passed as props"
**Working**
`<Typewriter
            options={{
            strings: [
              "test1","test2","test3"
            ],
            autoStart: true,
            loop: true,

          }}/>`

**Not Working**
`
<Typewriter
            options={{
            strings: this.props.typewriter,
            autoStart: true,
            loop: true,

          }}/>`

[2020-02-19 12:45] tameemsafi commented on #57
@carljustineoyales What is the value of `this.props.typewriter`, it should be an array of strings

[2020-02-20 19:54] carljustineoyales commented on #57
Parent Component

``
this.state = {
 typewriter:[test1,test2,test3]
}

<ChildComponent typewriter={typewriter}/>
``

Child Component

``
<Typewriter
options={{
strings:this.props.typewriter
}}/>

[2020-02-21 13:38] tameemsafi commented on #57
You should see an error in the console if you open developer tools, can you post what that message says?

[2020-02-24 22:17] carljustineoyales commented on #57
@tameemsafi there's no error related to the component. I move the props data to the component state and still there's no output even though there's a value on the string option when view via react dev tools

[2020-02-26 17:42] caseykey opened #58 "Typewriter doesn't type"
I have this functional component:

[code]

This results in two blinking cursors. Why doesn't it start typing out my headers/subheaders?

[2020-02-26 17:50] caseykey commented on #58
I just had to add `.start()` after the `.typeString(header)`.

[2020-03-04 16:09] #58 closed

[2020-03-09 18:15] #57 closed

[2020-03-09 18:17] tameemsafi commented on #49
You can have some text before the container element that you use, this way it will always be visible.

HTML:
[code]

JS:
[code]

[2020-03-09 18:17] #49 closed

[2020-03-09 18:17] #48 closed

[2020-03-09 18:20] tameemsafi commented on #56
This is because the loop system relies on the DOM elements being available. If you reset the innerHTML, you will be removing all the DOM nodes and therefore it will not work when it tries to delete characters. I think the solution you have is the best solution if you need to reset the innerHTML.

[2020-03-09 18:20] #56 closed

[2020-03-09 18:25] #55 closed

[2020-03-09 18:27] tameemsafi commented on #53
You will need to pass in a number as the delay param.

Example:
[code]

[2020-03-09 18:27] #53 closed

[2020-03-09 18:27] #52 closed

[2020-03-11 13:36] hrvstr opened #62 "Define fallback HTML when typewriterjs is not loaded"
I noticed that typewriterjs fails to load on older devices such as my iPhone 5 running iOS 10.3.4.
Newer iPhones seem to be working (tested in iOS simulator).
Is it possible to define some fallback HTML for this situation?

[2020-03-13 14:30] cirquit commented on #49
I think you misunderstood my problem. I'd like the same effect as the site I posted - at the initial load the text area is blank, then some text appears, for example "Alex says hello world!". In the next step, everything gets deleted besides "Alex", so that word stays there and the next animation would start from that word onward by adding e.g "says goodbye".

What is shown in steps:

1. "" (on lo

[2020-03-13 17:32] tameemsafi commented on #49
@cirquit Please see jsfiddle example link below to achieve the effect you have described

https://jsfiddle.net/mpx94c8j/2/

[2020-03-13 18:27] tameemsafi commented on #62
Yes you can insert some fall back html within the container element, if the javascript code works then it will remove it and override it.

[code]

[code]

[2020-03-13 18:27] #62 closed

[2020-03-17 13:59] plagasul opened #63 "Loop without deleting"
Hello, thank you very much for the plugin, very useful.

I assume this is a feature request. I would like to be able to loop without deleting, to achieve appending random text to an already written element within the TypewriterJS object.

Something such as:

[code]

This can be achieved now by wrapping the queue within a setInterval function, tho.

Thank you

[2020-03-17 21:20] kmt29 opened #64 "Feature Request !!"
I think the lib is really small, portable yet so powerful. But i think it will even be more powerful if you guys add a feature that could clear the loop queue.

[2020-04-10 15:25] MartinSeeler opened #65 "`deleteSpeed` does not get propagated to React component"
It seems that the `deleteSpeed` property is missing / not used in the React component. Is this on purpose or just a bug?

[2020-04-11 14:06] claytron5000 commented on #63
I would also like this feature. Or to trigger the delete in a callback

[2020-04-21 17:07] wdfinch opened #66 "Feature Request: Delete Immediately"
First off I really like the package. Great job to everyone who has worked on it. I was wondering if it was possible or would it be possible to add a feature to clear the text managed by the typewriter immediately rather than having to use a delay.

If there is a lot of text on the screen, it can take a really long time to delete it all before the new text can be shown to the user.

For example, I'

[2020-04-22 04:14] markerio commented on #64
I agree with @kmt29, it would be great if they added a feature to stop at least.

[2020-04-30 23:50] dishcandanty commented on #65
Seems like the property just needs to be added here: https://github.com/tameemsafi/typewriterjs/blob/master/src/react/Typewriter.js#L50

[2020-05-01 00:19] dishcandanty commented on #65
Was able to fix by manually patching the deleteSpeed. PR above.

[2020-05-01 22:01] tameemsafi commented on #65
@MartinSeeler Can you confirm if it has been fixed using v2.13.1 as the PR above by @dishcandanty is now merged?

[2020-05-01 22:01] #65 closed

[2020-05-02 05:23] MartinSeeler commented on #65
@tameemsafi Yes, after upgrading to `2.13.1` the `deleteSpeed` can be changed.
@dishcandanty thx for the fix

[2020-05-21 22:20] TeleworkInc commented on #66
I added this feature for you in my own fork with the `clearWrapper` method, pull request is pending: https://github.com/TeleworkInc/typewriterjs

[2020-05-30 19:25] mathieuflamant commented on #66
@wdfinch You should be able to achieve this by using a callback function which manipulates the wrapper

[code]

[2020-06-11 14:19] ernestostifano opened #71 "Text disappearing when changing state using callFunction method on React."
Hi guys!

I'm having the following issue. Every time that I try to change the component state, my typewriter text just disappears.

Here is my code:

[code]

Best regards.

[2020-06-25 09:42] laurencefass opened #72 "Feature Request: callbacks for each character type, end phrase, delete etc."
HI I don't know if  package does this already but  I would like to add typewriter audio effects on each character press, end of phrase, delete etc which could easily be achieved by a callback on each new character, newline, Are there any functions available would allow me to do this easily with package in existing form?

thanks

[2020-06-26 16:41] jahirfiquitiva opened #73 "How to define the pause time when using the options object?"

[2020-07-02 01:25] Strvm opened #74 "Delete Speed only working for second string"
Hello, so i'm trying to write two strings and i'm having issues defining the delete speed of characters. Currently in the options I have set it to 2 like this:

 `const typeWriter = new Typewriter('.tagLine', {
    devMode: true,
    delay:40,
    loop: true,
    deleteSpeed: 2,
});`

And to activate the TypeWriter I have this:

`typeWriter
    .pauseFor(1000)
    .typeString('Producers of video c

[2020-07-02 07:08] timaschew opened #75 "Bug: timing is changing over time."
This is my code

[code]

First the delay is okay, but then the delay starts to increase and over time it takes several seconds, everything is delayed:
- blinkSpeed
- delay
- pauseFor

[2020-07-07 23:53] patcon commented on #7
I believe this person is talking about form elements or placeholders

[2020-08-01 01:26] saggins opened #79 "Bug: html character codes ( &gt; ) don't show up as the correct character ( > )"
To replicate:

typing.js
[code]

index.html
[code]

basically it should show up as > instead it shows up as `&gt;`

everything else works great. I really like this library

[2020-08-01 01:35] saggins commented on #79
also replacing  `&gt;` with  > does not work. It shows up as `&gt;`

[2020-08-01 02:26] saggins commented on #79
`textString.replace("&gt;" , ">")`
is an attempt to mitigate the issue. It doesn't affect the problem

[2020-08-01 02:32] #79 closed

[2020-08-01 02:33] saggins commented on #79
it looks like it works... I think my attempt at mitigating the problem caused it.

[2020-08-14 16:46] vineet8588 opened #81 "Option to not add a new line"
In react component, whenever some text is written after the Typewriter component, that text is rendered in a new line. I want to continue it without new line.
Any option to do that?

[2020-08-24 12:15] Rouvo commented on #74
Hi there,

I was struggling with "kinda" the same problem and couldn't figure out why my `deleteSpeed` wasn't used by typewriter.
What actually helped me was passing a parameter to `deleteAll()`, e.g. `deleteAll(2)` (very fast deleting)

It's just a work around though, it might help you out, because with this way your deleteSpeed will def be taken into consideration. I think that somewhere in the

[2020-09-02 21:18] timi-codes commented on #81
You can achieve this by overriding the wrapper styles display property
[code]

[2020-09-04 17:32] vineet8588 commented on #81
Thanks, I am not good with css

Thanks, I am not good with css.

[2020-09-04 17:32] #81 closed

[2020-09-19 05:28] raziqraif opened #84 "Typescript support"
It would be nice if this library is supported in Typescript as well.

[2020-09-19 12:59] blackr1234 opened #85 "Typing speed and deletion speed do not feel visually the same"
Consider the following usage of `typewriter-effect@2.13.1` in React:

[code]

The above code does the followings in order:

1. Type: `Hello World`
1. Delete: `World`
1. Type: `Guys!`
1. Delete everything
1. Loop

When I run it, I can tell the text deletion speed in step 2 is slower than typing speed and the speed of deleting everything in step 4 (as `loop: true` is set) is faster than the text del

[2020-09-21 15:06] #66 closed

[2020-09-27 04:14] nikkidurkin opened #86 "stop() function not working on react component"
Hey! I'm using the react component, which is great (thanks so much for providing it).

However, when I call the stop() function, I still get the blinking cursor. I expect the typing effect to go away (i.e. the blinking cursor to disappear) but the stop function appears to do nothing.

I am programmatically chaining many events together, then calling a function at the end, then calling stop().

e.g

[2020-09-29 11:53] tonytoms opened #87 "React 'Loop:false' Erase the content at the end:"
Hi. Thanks a lot for the awesome library.
Actually, I am facing a problem with the react component.
If My loop is set to false, the content will get erased at the end.
`<Typewriter
                options={{
                  strings: ['Hi,'],
                  autoStart: true,
                }}
              />`

Here the Hi will get eased after getting typed.
I would have been Nice if the conte

[2020-10-02 19:25] asadakbar commented on #72
I just submitted a pull request which adds a callback that is fired when a string is iterated over https://github.com/tameemsafi/typewriterjs/pull/88.

[2020-10-08 14:37] dsdsdsdsdsds opened #89 "&shy; should render a hyphen, if the browser breaks the word"
When a soft hyphen (`&shy;`) is rendered by `typeString()`, it correctly breaks the word at the specified point (if needed), but it doesn’t draw the hyphen itself. Have a look at this [example](https://jsfiddle.net/ovnzb4ys/1/).

Also, if the string that is passed to `typeString()` does not include any HTML elements, then `&shy;` is not decoded and thus rendered as text (possibly related: https://

[2020-10-10 23:54] AgusRdz commented on #86
It seems the `stop` function makes disable the typing effect but not the blinking animation, personally I think is not a bug but that function it could be receive a boolean argument to `turn off` the blinking effect too, however you can remove it in the `callFunction` doing something like this

[code]

[2020-11-20 07:54] mvanroon commented on #7
Would love to apply this to an input's placeholder attribute as well.
Something along the lines of:

[code]

or

[code]

thoughts?

[2020-11-20 14:12] tameemsafi commented on #7
@mvanroon thanks for the feedback, I have added two options now called `onCreateTextNode` and `onRemoveNode`. You can see below for an example of how to use it with input placeholder.

[code]

[2020-11-20 17:35] ryangittings commented on #89
Yep, same happening here for me!

[2020-11-25 06:45] natterstefan opened #91 "Please add a CHANGELOG or release notes"
Hi @tameemsafi,

I am glad to see you merged https://github.com/tameemsafi/typewriterjs/pull/82.

Can I give you some additional feedback as a user of your package? Please think about adding a CHANGELOG or add notes to [your releases](https://github.com/tameemsafi/typewriterjs/releases). It makes it way easier for users of your package to keep track of changes and get to know breaking changes or n

[2020-11-25 06:46] natterstefan commented on #84
Hi @raziqraif,

I think is resolved by now with https://github.com/tameemsafi/typewriterjs/pull/82 and the additional changes pushed into the main branch (see version 2.17.0). Please, correct me if I am wrong @tameemsafi.

[2020-12-14 10:39] Turtleted21 opened #94 "I try to work typewriter with a-frame without success"
Hi
I try to work with a-frame without success.

mycode :
[code]
Thanks

[2020-12-25 13:14] KayesAlhomsi commented on #73
Try the pauseFor
its default is 1500 msec, you can put any value you want for example
`import Typewriter from 'typewriter-effect';

<Typewriter
  options={{
    strings: ['Hello', 'World'],
    autoStart: true,
    loop: true,
    **pauseFor:3000,**
  }}
/>`

[2021-01-02 06:05] harsha130699 opened #95 "Function to delete cursor"
Once the typing is done, the cursor could be hidden

[2021-01-04 16:46] rewong03 commented on #89
I think this might be a problem overall for html character entity names. I've been trying to render the `>` sign using `&gt;` but it's just rendered as `&gt;`.

[2021-01-12 14:41] aymenbz commented on #95
Resolved #13

[2021-02-02 17:27] curious-monk opened #96 "Question: Is there a way to keep adding lines of typing with oldest lines scrolling off the top?"
Is there a way to use typewriterjs so it types many lines of output, but shows the last few (say 3) at a time, with new lines adding at the bottom.

e.g.

Step 1:
[code]

Step 2:
[code]
Step 3:
[code]
Step 4:
[code]
Step 5:
[code]
etc.

During the transition, the existing lines (ideally) should animate sliding upwards, making room for the new line.  e.g. after Step 4, the Lines B, C & D should sli

[2021-03-20 03:47] marcusv77 opened #99 "Question: Is there any way to change the styles, like font-size and etc?"

[2021-03-25 02:42] #99 closed

[2021-04-27 15:59] flowbartek93 commented on #89
Did you manage to solve this issue ? I tried so hard display "<" and I get constantly get &lt;

[2021-04-29 20:24] llibdude commented on #30
Just as a note, i found that this works for my needs:
[code]

In my case I am using the React component and keep a ref to the typewriter object.  Setting the eventQueue to empty array does reset the queue. I'm sure there is something wrong with what I'm doing but for now its fine :)

[2021-04-29 20:25] llibdude commented on #64
As a work around i'm finding this is generally working for me
[code]

In my case I am using the React component and keep a ref to the typewriter object.  Setting the eventQueue to empty array does reset the queue. I'm sure there is something wrong with what I'm doing but for now its fine :)

[2021-04-29 22:28] rayhanadev opened #102 "Allow Inverse Typing Direction"
For design purposes I would love to have the typewriter type left to right and also right to left!

[2021-04-30 17:20] llibdude commented on #89
I am also running into this problem, specifically I want to render `>`.

My (messy) work around for now is to inject the value after the fact:
[code]

hope this helps

[2021-05-02 06:16] kmt29 commented on #64
I never thought of but this should work too....Just a workaround tho....

[2021-05-02 14:53] orkunkilic opened #103 "Changing container div to span to write inline text."
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `typewriter-effect@2.17.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2021-05-04 08:55] Jbarget commented on #84
I can confirm typescript types are included with the package when i installed v.2.17.0  just now 👍🏼

[2021-05-05 02:33] #84 closed

[2021-05-06 14:47] yiliansource commented on #103
I'm heavily in favour of changing this. Or atleast of adding an option that allows this. The fix of changing the styles is nice, but some React frameworks throw a warning/error if a div appears in an inline block.

[2021-05-06 18:26] seangoogoo opened #104 "HTML entities ampersand misinterpreted"
I have noticed an issue with the ampersand character.

If I write this :
`const mytypeWTtxt = new Typewriter('#myDiv', { string: 'business & Co', autostart: true });`

TypewriterJS will correctly write the "&".

If I write this :
`const mytypeWTtxt = new Typewriter('#myDiv', { string: '<strong>business & Co</strong>', autostart: true });`

TypewriterJS will write "&amp;" as the separated character

[2021-05-06 20:01] seangoogoo opened #105 "Missing method to erase all in one time"
Not really about an issue but maybe a missing method : if I have to write a very long series of sentences and then replace it by another very long series of sentences, calling the 'deleteAll' method can be very long and boring for the user and there is no method to erase all the content in one time.

I figured out a way to do it with the 'callFunction' method but maybe you could add it natively.

[2021-05-15 11:13] ADARSHputhane opened #109 "Next line typing"
how to make typewriter type in next line

[2021-05-15 11:16] ADARSHputhane commented on #109
i got to use <br> for now. If there is any other method please tell me. i tried using escape character but its not working.

[2021-05-19 12:16] j-funk opened #110 "Accessibility and SEO"
Hello, this package looks cool - what options are there for screen readers and SEO bots?

[2021-06-10 15:20] haucheng88 opened #113 "Cursor not showing up by default"
I am using the library for a website and the cursor is not displaying. I don't see any option to turn on the cursor. I thought it's suppose to be on by default. I am using the CDN version of the library and the cursor issue persistent on all browser versions I tested (Chrome, safari, etc..)

[2021-06-13 09:07] tameemsafi commented on #109
You can use the `<br>` html tag in the string passed to write on a new line

[code]

[2021-06-13 09:07] #109 closed

[2021-06-13 09:13] tameemsafi commented on #105
You can re-create the typewriter instance on the same html element, which will reset everything.

See example:
https://jsfiddle.net/qjwbv3s8/2/

[code]

[2021-06-13 09:13] #105 closed

[2021-06-17 10:16] #94 closed

[2021-06-21 18:37] prathamesh-88 opened #117 "Unable to import from core library API"
Unable to use typewriter-effect/dist/core with the following error message:
**'Could not find a declaration file for module typewriter-effect/dist/core'**

[2021-06-22 10:44] #117 closed

[2021-06-26 14:12] MuhammadAlbab opened #118 "[Feature Request] Start with some text instead of the cursor only"
Is there any way I can start with some text first then apply the delete thing? thanks.

[2021-06-26 14:37] MuhammadAlbab commented on #118
i mean like when it first started the text was already there, and then got deleted and typing new text again like usual.

[2021-07-07 02:56] Newyears1978 opened #119 "Cursor is on next line"
I am using this  and it works but for some reason the cursor appears on the next line below the text instead of the end of the line as it types out.

Any idea what I did wrong?

[2021-07-07 03:06] Newyears1978 commented on #119
Here's the code for reference

`<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>

<div class="text-container">
  <div class="row1 message"></div>
  <div class="row2 message"></div>
  <div class="row3 message"></div>
  <div class="row4 message"></div>
</div>`

`const name='{name}';
const amount='{amount}';
const prompt='{prompt}';
const wrapData=(message)=>{
  return

[2021-07-14 04:38] jianly opened #121 "react-dom.development.js:67 Warning: Using UNSAFE_componentWillMount in strict mode is not recommended and may indicate bugs in your code. See https://reactjs.org/link/unsafe-component-lifecycles for details."
<img width="316" alt="截屏2021-07-14 下午12 37 58" src="https://user-images.githubusercontent.com/30860965/125562026-9c25b9dd-2e92-430e-9d4f-0e0d63069e47.png">

[2021-07-18 16:26] jimbob88 commented on #119
I found a similar issue when messing with `<h1>` tags, this caused the cursor to jump to a new line everytime. In order to remedy this for my code I did this: https://jsfiddle.net/ovczLxaj/1/

The key steps being to define the `<div>` as a class:
[code]
And then making sure the text is alined in-line:
[code]

Personally this feels like more of a trick in order to get it too work, as it means the c

[2021-07-18 18:02] Newyears1978 commented on #119
Hey man thanks, all I had to do was add the display: inline to my existing class and now it works =D

[2021-07-27 11:08] lawrence-witt commented on #71
I'm running into this. It seems like the issue comes from passing a new `options` object. The React component for this lib is just a wrapper around the core which does DOM manipulation to achieve its effect - it doesn't really have a "reactive" way of handling prop changes like you would expect from a native library. I'm just doing my own DOM manipulation inside `callFunction` to get conditional c

[2021-08-05 23:47] PowerSheetAI commented on #104
@tameemsafi this is a major issue for me as well. Can you please fix and publish an NPM update?

[2021-08-18 09:48] ilhamsa1 opened #122 "How to use 'pasteString' to paste multiline element"
Hi thanks for the awesome library..
I want to ask , can i do multiline paste effect using pasteString only once? currently 1 function pasteString running elements from line 2 to line 7 step by step instead of all at once.

![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/33473051/129875980-adbe8f21-4268-4221-b466-451b065f09e0.gif)

this is my current code
[code]

[2021-09-03 12:55] uman-fr opened #123 "How to pass typewriterjs to an module in require.js?"
Hello,

I want to use **typewriter** as a **module in require.js**...
Is this script compatible?

Many Thanks
Uman

[2021-09-10 05:21] mzrnsh commented on #110
My approach with screen readers:

Add `aria-hidden="true"` to the wrapper of typewritten content so that screen readers ignore it completely. Then add a visually hidden div for screen readers with all the texts in it. It must not be hidden with `display: none`, instead use something like this:

[code]

This will hide the element from humans but screen readers will still read it.

Gotchas:
- I have

[2021-09-18 12:13] sjlee4108 opened #125 "Make HTML conversion optional"
Hi. I am trying to get typewriting effect on a string that contains HTML tag, but it automatically converts those strings into HTML.

Is there a way to disable this feature?

[2021-09-19 16:44] k4sud0n opened #126 "Failed to minify the code"
Hi,

First, Thank you for making awesome project.

I'm having trouble building the app when I use typewriterjs.

[code]

When I tried ```yarn build```, that minified failed message keep comes out.

I'm using craco to build my project.

Here is my package.json file scripts part.

[code]

Is there way to solve this problem?

[2021-10-14 11:43] Sakkhor909 opened #129 "Please add "delete typing" when state change in strings options"
Here Massage is props that manage a state and changing from a click event handeler function.
function Monitor({ Massage }) {
  return (
        <Typewriter
          options={{
            strings: Massage,
            autoStart: true
          }}
       />
  );
}
export default Monitor;

When I click, string change but it fully despairs first then start typing from scratch. It will be cool when i

[2021-10-14 18:59] lucroch opened #130 "Please add "initial value""
I wanted to use the delete effect in React, but I can't figure a way to have a starting text.
Option for initial value could be great.

[2021-11-01 22:03] ianwensink commented on #130
@salma-py97 but when writing a value inside the container and then initialising it, everything get's removed immediately right? That is in the code of the instructor.

So my use case for this is a bit different from @lucroch. I need to support server side rendering, so the string needs to be in the HTML response. This is all working when adding the text by default inside the wrapper element. On th

[2021-11-04 21:25] lucroch commented on #130
I found a workaround for my needs, although having initial value would still be great.
On ReactJS, I could put a state inside the onInit function and change it at any point and it's read.

[2021-11-19 14:53] MartinSeeler commented on #87
I have the exact same issue. By looking at the code, e.g. [this line](https://github.com/tameemsafi/typewriterjs/blob/867425e30b7087f9c5341a966f799589c58ca6d2/src/core/Typewriter.js#L181) it turns out that it iterates over all strings provided via `options` with type, pause, delete.

[code]

[2021-11-19 15:01] MartinSeeler commented on #87
A quick fix which worked for me is the following:

[code]

[2021-12-02 12:24] KilianB opened #133 "Paste string should add the content on a per character basis"
Currently paste string adds the entire content as a single node.  This prevents deletion of individual characters and some more advanced use cases as for example moving the cursor and insertion position around.

[2021-12-04 13:35] rakeshbaral92 opened #134 "Module not found in angular 12 after installing through npm"
Cannot find name 'Typewriter'.

[2021-12-04 13:38] rakeshbaral92 commented on #134
Could not find a declaration file for module 'typewriter-effect/dist/core'. 'e:/Angular/metalbazaar/node_modules/typewriter-effect/dist/core.js' implicitly has an 'any' type.

[2021-12-05 20:33] KilianB opened #135 "Allow change cursor position"
I am not going to create a pull request for this branch as the code is not in top shape but the overall idea is in my fork and could work as an inspiration

https://github.com/KilianB/typewriterjs/tree/cursorPosition

# 5.12.2021 2.20.0

- add a more natural delay for typing (e.g. duplicated letters have a shorter delay. a space has a longer delay range)
- make node argument for pasteString option

[2021-12-19 04:04] AsianCat54x commented on #113
+1 I am too facing the same issue when using it in Chrome. It works fine in Firefox. I need to select the text, then I am able to see it. Gonna find other package TT

[2022-01-27 04:07] gxjakkap opened #137 "Thai Characters not showing up correctly on iOS devices."
So I use Typewriter.js to display That text on my webpage. It works perfectly fine on PC and my Android phone. But it kinda broken on my iPhone and iPad. I tried using both Safari and Chrome. Tried adding meta tag to specify utf-8. Also specifying it in script tag. No clue here.

This is how it looks on my PC (and how it should be).

![image](https://user-images.githubusercontent.com/55027998/1512

[2022-02-11 13:44] tini2n commented on #130
Have the same problem
@lucroch can you share your workable solution? 🙂

[2022-02-16 09:16] SKFrozenCloud opened #138 "Performance issue"
If you want to write a large bulk of text, the library will create several hundreds of text nodes because that's how it is structured.

On Firefox, it can handle the writing but will start to lag when the amount of nodes (in this case text nodes) gets too high.
On Chromium, it lags when it writes all the characters (text nodes) but stop to lag when it finishes.

Fortunately, both of these issues c

[2022-02-23 17:54] gcabillic opened #140 "How to use special characters ?"
Hi, and thanks for your excellent plugin.

I got an issue regarding the use of special (french) characters.

I want to dump the word 'managé' - so, I used the html encoding 'manag``&eacute;``' as the typeString. But when running, it shows 'manag``&eacute;``' and not 'managé'

Do I need to add a flag or do it in another way ?

Thanks!
G.

My code:

[code]

[2022-02-24 08:17] gcabillic commented on #140
FYI Found a solution using Javascript string encoding.
typeString('manag\u00e9')

[2022-02-24 08:17] #140 closed

[2022-03-03 06:39] jimmycrequer opened #141 "Add types for `state` and other properties"
Thanks for providing this very convenient library !

I found out about [this issue](https://github.com/tameemsafi/typewriterjs/issues/30) mentioning about the `state` property, holding the `eventQueue` array.

When I printed out the object to see the available properties, I found out that a lot of them weren't declared in the type :

![Screenshot from 2022-03-03 15-15-12](https://user-images.githu

[2022-03-08 11:59] KilianB commented on #133
PR: #132

[2022-03-09 10:57] Nikola-Milovic commented on #130
@lucroch  same issue, can you post your solution?

[2022-03-21 15:22] lucroch commented on #130
Hey there @tini2n and @Nikola-Milovic, I'm really sorry for the delay on responding this.
I solved this a while ago so I don't exactly remember how I did it, but I like I said, I put a state inside the onInit function that I can change at any point.
`    const [writer, setWriter] = useState<TypewriterClass>()
    const [transition, setTransition] = useState("Start")

    useEffect(
        () => {

[2022-03-24 03:16] eIiot commented on #117
I'm having this same issue - did you end up solving it?

[2022-04-10 11:55] foch01 commented on #134
Hello,

You can declare module in custom declaration file `typewriter.d.ts` like this :

`declare module 'typewriter-effect/dist/core';`

[2022-04-22 23:10] ScottBeeson commented on #74
Just checking in to confirm `deleteSpeed` doesn't seem to work for me either, but passing a parameter to `deleteAll` works great.

[2022-04-27 07:25] rohitsachaan commented on #130
@lucroch it will be really helpful if you or anyone else can share their code, to achieve this?

or

@tameemsafi is there any release planned for this feature #118?

[2022-05-10 23:48] wolkemann opened #144 "Cannot find Typewriter when installing through npm"
Hello,
I have a project that uses Vite with Typescript. When I install TypewriterJs through then I can't import it because Typewriter is no where to be found.

[2022-06-10 07:06] wottpal opened #146 "React 18 support"
[code]

[2022-06-10 14:07] binarystarr commented on #146
I'd also like to see this.

[2022-06-12 09:26] th3g3ntl3boy commented on #146
same here

[2022-06-23 17:58] carneirocorp commented on #146
same here

[2022-06-29 20:45] DanielOberlechner commented on #113
Can confirm this bug on macOS Ventura Safari 16 and Chrome Beta v103.
I can see no cursor even if I "turn" it on in the options but it should be enabled by default so there is no sense in doing that...

Has someone a suggestion what we could do against this behaviour?

[2022-07-11 19:12] floodoo opened #147 "Parameter to disable cursor animation"
Let's say I want to simulate a terminal. Then I would like to have a cursor, but I don't want to have the blinking animation. It would be great to have a boolean to turn the animation on or off. (Default is on)

I tried to set the animation of the "Typewriter__cursor" class to none but unfortunately it didn't work.

[2022-08-17 11:29] hamzajamshed152 commented on #144
you should import TypewriterComponent

[2022-08-18 15:38] bobrosoft commented on #13
Doing it with next workaround:
[code]

[2022-08-20 09:11] josias-r commented on #144
Index.d.ts suggests the TypewriterClass to be a named export, but it isn't and will throw an error when used.

[code]

[2022-08-20 20:20] PantheraRed commented on #147
If you use the `skipAddStyles` option. It'll not add the default css for `Typewriter__cursor` class.

[2022-08-23 07:11] Vivek-C365 opened #151 "Could not find container element"
Uncaught Error:  **Could not find container element**
    at new n (core.js:1:1)
    at Contentprofile (Contentprofile.js:20:1)
    at renderWithHooks (react-dom.development.js:16305:1)
    at mountIndeterminateComponent (react-dom.development.js:20074:1)
    at beginWork (react-dom.development.js:21587:1)
    at HTMLUnknownElement.callCallback (react-dom.development.js:4164:1)
    at Object.invok

[2022-09-13 17:48] vincepolston opened #153 "Callback runs twice with NextJS?"
Didn't see this question asked elsewhere. It appears that the `callFunction` runs twice.

`            <Typewriter
            onInit={(typewriter) => {
                typewriter.typeString("Welcome to Dev Diaries...")
                .pauseFor(1000)
                .deleteAll()
                typewriter.typeString("The podcast for developers and technical founders.")
                .pauseFor(1

[2022-09-20 17:19] alfonmga commented on #135
Hey, @KilianB, I just wanted to thank you for your work on this fork ❤️. Sadly, no one has paid attention to this PR, but you at least made an impact in someone's life, me. Thanks again.

[2022-09-24 20:27] VirenMohindra commented on #138
Using `performant: true` while instantiating the Typewriter class worked well.

This is incredible. The issue makes sense and also works for me on our Next.js site.

Was facing similar problems where our entire page was frozen because of the large amount of nodes being created.

I recommend this to be pushed upstream!

[2022-10-05 16:46] IxxyDev opened #154 "Why does not typeString() parameter update after rerender?"
I have this state, which changes every 10 seconds (so re-render happens too). But when state is updated and component re-rendered, new line of text does not appear.

`const [currentTitle, setCurrentTitle] = useState(''); // changes every 10 seconds

return (
  .....
  <Typewriter
        onInit={tw => tw
				.changeDelay(50)
				.typeString(currentTitle)
				.pauseFor(5000)
				.deleteAll(50)

[2022-10-07 12:24] HakonHarnes commented on #153
I also have this issue. Did you find a fix?

[2022-10-07 12:48] vincepolston commented on #153
Unfortunately I have not. It's a strange one.

[2022-10-13 19:44] Shadowstep33 commented on #144
Im still working on getting it fully working... but @wolkemann this solved my issue:

`tsconfig.json`
[code]

and I import and use it like so:

[code]

[2022-10-17 19:01] zkSoju opened #155 "onRemoveNode parameter is mispelled `charater`"
Refer to title.

[2022-10-27 12:21] magento2dev opened #156 "Start typewriter when click on a button"
I am not able to start typewriter only when user clicks on a button, I tried doing like this :

`const handleClick = (event:any) => {
      let typewriter: any;
      typewriter = new Typewriter(app, {
        loop: false,
        delay: 75,
      });

      typewriter
        .typeString('A simple yet powerful native javascript')
        .pauseFor(300)
        .start();
    });
  };`

[2022-10-28 04:07] petrov9 commented on #122
It worked for me:

`<Typewriter
                onInit={(typewriter) => {
                    typewriter
                        .typeString("Hello")
                        .typeString('\<br>\')
                        .typeString("World")
                        .pauseFor(1000)
                        .start();
                }}
            />`

[2022-10-28 13:58] kb0303 opened #157 "is typewriter-effect@latest/dist/core.js down?"

[2022-11-15 18:47] HenriqueArtur commented on #130
@rohitsachaan  I used the @lucroch  solution as a reference and worked perfectly for me.

Note that I used a Hook, but you could change it to a variable using "useState"

[code]

[2022-11-20 09:02] 2lag opened #161 "Colors?"
Not an issue, more of a question about if something is possible, and if not, if it can be made possible, but can the `callFunction()` function be used in vanilla JavaScript to change the color of the outputted text? It's not working if I set a div or span around the text, so it wouldn't be possible with `document.getElementsByClassName` or  `document.getElementsById` within the typeString function

[2022-11-30 07:45] NanobyteRuata commented on #154
My (kinda) workaround for temporary fix

[code]